@font-face {
  font-family: open_sans;
  src: url(OpenSans-Regular.ttf);
}

@font-face {
  font-family: open_sans_light;
  src: url(OpenSans-Light.ttf);
}

@font-face {
  font-family: open_sans_semibold;
  src: url(OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: dosis;
  src: url(Dosis-Medium.ttf);
}

@font-face {
  font-family:noto;
  src: url(NotoSans-Regular.ttf);
}

@font-face {
  font-family:quick;
  src: url(Quicksand-Medium.ttf);
}

@font-face {
  font-family:Poppins-SemiBold;
  src: url(Poppins-SemiBold.ttf);
}


@font-face {
  font-family:sequel_sans_semi_bold;
  src: url(sequel_sans_semi_bold.ttf);
}

@font-face {
  font-family:roboto_reguler;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family:roboto_medium;
  src: url(Roboto-Medium.ttf);
}

@font-face {
  font-family:roboto_bold;
  src: url(Roboto-Bold.ttf);
}